{
  "server": "irc.myserver.com",
  "nick": "myNick",
  "options": {
    "userName": "nodebot",
    "realName": "nodeJS IRC client",
    "port": 6667,
    "localAddress": null,
    "debug": false,
    "showErrors": false,
    "autoRejoin": false,
    "autoConnect": true,
    "channels": ["#channel1", "#channel2"],
    "secure": false,
    "selfSigned": false,
    "certExpired": false,
    "floodProtection": false,
    "floodProtectionDelay": 1000,
    "sasl": false,
    "stripColors": false,
    "channelPrefixes": "&#",
    "messageSplit": 512,
    "encoding": ""
  }
}
